<div class="col-12">
  <div class="card h-100">
    
    <div class="card-body">
      <h5 class="card-title text-truncate">{{product!.productName}}</h5>
      <h6 class="text-muted text-truncate">{{product!.productCode}}</h6>
      <p class="card-text">{{product!.unitsInStock}} units in stock</p>
      <div class="d-flex justify-content-between align-items-center mt-3">
        <p class="text-dark fs-5 fw-bold mb-0">${{product!.unitPrice}}</p>
        <button class="btn btn-primary">Add to cart</button>
      </div>
    </div>
  </div>
</div>
