<div class="container-fluid py-5">
  <div class="container py-5">
    <h1 class="mb-4">Products available</h1>
    <div class="row g-4">
      <div class="col-12">
        <div class="row g-4 align-items-center">
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="input-group w-100">
              <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
              <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3 offset-lg-2 offset-xl-6">
            <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between align-items-center mb-4">
              <label for="fruits" class="mb-0 me-2">Default Sorting:</label>
              <select id="fruits" name="fruitlist" class="border-0 form-select-sm bg-light me-3" form="fruitform">
                <option value="volvo">Nothing</option>
                <option value="saab">Popularity</option>
                <option value="opel">Price</option>
                <option value="audi">New</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row g-4">
          <div class="col-lg-3">
            <div class="row g-4">
              <div class="col-12">
                <button class="btn btn-primary w-100 mb-3" [routerLink]="['/make-product']">Create a product</button>
              </div>
              <div class="col-12">
                <button class="btn btn-primary w-100 mb-3" [routerLink]="['/create-sale']">Create a new sale</button>
              </div>
              <div class="col-12">
                <button class="btn btn-primary w-100" [routerLink]="['/report']">Create a report</button>
              </div>
            </div>
          </div>
          <div class="col-lg-9">
            <div class="row g-4 justify-content-center">
              <div *ngFor="let product of products" class="col-12 col-md-6 col-lg-4">
                <app-cardproduct [product]="product"></app-cardproduct>
              </div>
              <div class="col-12">
                <div class="pagination d-flex justify-content-center mt-5">
                  <a href="#" class="rounded">&laquo;</a>
                  <a href="#" class="active rounded">1</a>
                  <a href="#" class="rounded">2</a>
                  <a href="#" class="rounded">3</a>
                  <a href="#" class="rounded">4</a>
                  <a href="#" class="rounded">5</a>
                  <a href="#" class="rounded">6</a>
                  <a href="#" class="rounded">&raquo;</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
