<div>
  <h2>Customer List</h2>
  <ul>
    <li *ngFor="let customer of customers">
      {{ customer.firstName }} {{customer.lastName}} - {{ customer.email }}
    </li>
  </ul>
</div>

<div class="container-fluid py-5">
  <div class="container py-5">
    <h1 class="mb-4 text-center">New Customer</h1>
    <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
      <div class="row g-5">
        <div class="col-12 col-md-10 col-lg-8 col-xl-6 mx-auto">
          <div class="row g-4">
            <div class="col-12 col-md-6">
              <div class="form-item">
                <label class="form-label my-3">First Name<sup>*</sup></label>
                <input type="text" class="form-control" formControlName="firstName" placeholder="George">
                <div *ngIf="customerForm.get('firstName')?.invalid && customerForm.get('firstName')?.touched" class="text-danger">
                  First Name is required
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-item">
                <label class="form-label my-3">Last Name<sup>*</sup></label>
                <input type="text" class="form-control" formControlName="lastName" placeholder="Phillips">
                <div *ngIf="customerForm.get('lastName')?.invalid && customerForm.get('lastName')?.touched" class="text-danger">
                  Last Name is required
                </div>
              </div>
            </div>
          </div>
          <div class="form-item">
            <label class="form-label my-3">DNI/CC<sup>*</sup></label>
            <input type="text" class="form-control" formControlName="dni" placeholder="10788654">
            <div *ngIf="customerForm.get('dni')?.invalid && customerForm.get('dni')?.touched" class="text-danger">
              DNI is required and must be 10 digits
            </div>
          </div>
          <div class="form-item">
            <label class="form-label my-3">Cell Phone<sup>*</sup></label>
            <input type="text" class="form-control" formControlName="phoneNumber" placeholder="315-XXX-XXXX">
            <div *ngIf="customerForm.get('phoneNumber')?.invalid && customerForm.get('phoneNumber')?.touched" class="text-danger">
              Phone Number is required and must be 10 digits
            </div>
          </div>
          <div class="form-item">
            <label class="form-label my-3">Email<sup>*</sup></label>
            <input type="text" class="form-control" formControlName="email" placeholder="test@testing.com">
            <div *ngIf="customerForm.get('email')?.invalid && customerForm.get('email')?.touched" class="text-danger">
              Valid Email is required
            </div>
          </div>
          <div class="form-item">
            <label class="form-label my-3">Address <sup>*</sup></label>
            <input type="text" class="form-control" formControlName="address" placeholder="House Number Street Name">
            <div *ngIf="customerForm.get('address')?.invalid && customerForm.get('address')?.touched" class="text-danger">
              Address is required
            </div>
          </div>
          <button type="submit" class="btn btn-primary w-100 mt-3" [disabled]="customerForm.invalid">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>

