<div class="container-fluid py-5">
  <div class="container py-5">
    <h1 class="mb-4 text-center">New Product</h1>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="row g-5">
        <!-- Column for form inputs -->
        <div class="col-md-12 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
          <div class="row g-3">
            <!-- Product Name -->
            <div class="col-md-12">
              <div class="form-item">
                <label class="form-label my-3">Product Name<sup>*</sup></label>
                <input type="text" class="form-control" formControlName="productName" placeholder="CellPhone and brand">
                <div *ngIf="productForm.get('productName')?.invalid && productForm.get('productName')?.touched" class="text-danger">
                  Product Name is required
                </div>
              </div>
            </div>

            <!-- Product Code -->
            <div class="col-md-12">
              <div class="form-item">
                <label class="form-label my-3">Product Code<sup>*</sup></label>
                <input type="text" class="form-control" formControlName="productCode" placeholder="4009900484039">
                <div *ngIf="productForm.get('productCode')?.invalid && productForm.get('productCode')?.touched" class="text-danger">
                  Product Code is required
                </div>
              </div>
            </div>

            <!-- Unit Price -->
            <div class="col-md-12">
              <div class="form-item">
                <label class="form-label my-3">Unit Price<sup>*</sup></label>
                <input type="text" class="form-control" formControlName="unitPrice" placeholder="$ Price product">
                <div *ngIf="productForm.get('unitPrice')?.invalid && productForm.get('unitPrice')?.touched" class="text-danger">
                  Unit Price is required and must be a valid number
                </div>
              </div>
            </div>

            <!-- Units in Stock -->
            <div class="col-md-12">
              <div class="form-item">
                <label class="form-label my-3">Units in Stock <sup>*</sup></label>
                <input type="text" class="form-control" formControlName="unitsInStock" placeholder="Number of units">
                <div *ngIf="productForm.get('unitsInStock')?.invalid && productForm.get('unitsInStock')?.touched" class="text-danger">
                  Units in Stock is required and must be a valid number
                </div>
              </div>
            </div>

            <!-- Submit Button -->
            <div class="col-md-12 text-center">
              <button type="submit" class="btn btn-primary" [disabled]="productForm.invalid">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

